<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PennClubReview</title>
  </head>
  <body>
    Create a new user
    <form action="/api/user/new" method="post">
      Full name: <input type="text" name="fullname"><br>
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
    </form> <br>
    Rank your clubs
    <form action="/api/rankings" method="post">
      Enter name of club: <input type="text" name="name"> <br>
      Enter ranking #: <input type="number" name="ranking"><br>
      <input type="submit" value="Submit"> <br><br>
      Club list <br><br>
      {{#each clubs}}
        {{name}} <br>
      {{/each}}
    </form> <br>
    Add a club
    <form action="/api/clubs" method="post">
      Club name: <input type="text" name="name"><br>
      Size: <input type="text" name="size"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
